body {
  font-family: Roboto, Raleway, sans-serif;
  color: #434455;
  background-color: #fff;
  
}
a{
  list-style-type: none;
}
/* header */
.header-title  {
  color: #2e2f42;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.166;
}
.contakt-link {
  font-size: 16px;
  line-height: 1.5;
}
.contakt-link:hover,
.contakt-link:active {
  color: brown;
}

.post-link {
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
}
.accent {
  color: #4d5ae5;
}

/* Maim */
.title {
  background-color: #2e2f42;
}
.post-title {
  color: #fff;
  line-height: 1.12;
  font-size: 56px;
  font-weight: 700;
  text-align:center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  
}
.button-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #4d5ae5;
  cursor:pointer;
}
.button-title:hover,
.button:active {
  color: brown;
}

/* Description */

.description-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Photo */
.photo {
  background-color: #f4f4fd;
}
.photo-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.photo-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* footer */
.footer {
  background-color: #2e2f42;
  
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-title {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em
}
.accent-studio-footer{
  color: #f4f4fd;
}
.accent {
  color: #4d5ae5;
}
